@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide{
    transform: scale(.9); 
    transition: all .3s;
}
.slick-center{
    transform: scale(1);
    transition: all .3s;
}

/* Slideshow */
.slick-dots li {
@apply inline-block;
}
.slick-dots span {
@apply bg-gray-500;
}
.slick-dots .slick-active span {
@apply bg-primary rounded-l-full rounded-r-full;
}
  